space_name: {{ space_name }}
org_name: {{ org_name }}
api_host: {{ api_host }}
login_host: {{ login_host }}
domain: {{ domain }}
version: {{ version }}
blue_green: {{ blue_green }}
default_buildpack: {{ default_buildpack }}

services:
  static_db:
    service_name: {{ services_static_db_service_name }}
    service_type: {{ services_static_db_service_type }}
    broker_name: {{ services_static_db_broker_name }}
    plan_name: {{ services_static_db_plan_name }}
    optional_params:
      DBName: {{ services_static_db_optional_params_DBName }}
      AllocatedStorage: {{ services_static_db_optional_params_AllocatedStorage }}
      DBParameterGroupName: {{ services_static_db_optional_params_DBParameterGroupName }}
  static_formigration_db:
    service_name: {{ services_static_formigration_db_service_name }}
    service_type: {{ services_static_formigration_db_service_type }}
    broker_name: {{ services_static_formigration_db_broker_name }}
    plan_name: {{ services_static_formigration_db_plan_name }}
    optional_params:
      DBName: {{ services_static_formigration_db_optional_params_DBName }}
      AllocatedStorage: {{ services_static_formigration_db_optional_params_AllocatedStorage }}
      DBParameterGroupName: {{ services_static_formigration_db_optional_params_DBParameterGroupName }}
  usermanagement_db:
    service_name:  {{ services_usermanagement_db_service_name }}
    service_type:  {{ services_usermanagement_db_service_type }}
    broker_name: {{ services_usermanagement_db_broker_name }}
    plan_name: {{ services_usermanagement_db_plan_name }}
    optional_params:
      DBName: {{ services_usermanagement_db_optional_params_DBName }}
      AllocatedStorage: {{ services_usermanagement_db_optional_params_AllocatedStorage }}
      DBParameterGroupName: {{ services_usermanagement_db_optional_params_DBParameterGroupName }}
  datatracker_db:
    service_name: {{ services_datatracker_db_service_name }}
    service_type: {{ services_datatracker_db_service_type }}
    broker_name: {{ services_datatracker_db_broker_name }}
    plan_name: {{ services_datatracker_db_plan_name }}
    optional_params:
      DBName: {{ services_datatracker_db_optional_params_DBName }}
      AllocatedStorage: {{ services_datatracker_db_optional_params_AllocatedStorage }}
      DBParameterGroupName: {{ services_datatracker_db_optional_params_DBParameterGroupName }}
  raw_response_db:
    service_name: {{ services_raw_response_db_service_name }}
    service_type: {{ services_raw_response_db_service_type }}
    broker_name: {{ services_raw_response_db_broker_name }}
    plan_name: {{ services_raw_response_db_plan_name }}
    optional_params:
      DBName: {{ services_raw_response_db_optional_params_DBName }}
      AllocatedStorage: {{ services_raw_response_db_optional_params_AllocatedStorage }}
      DBParameterGroupName: {{ services_raw_response_db_optional_params_DBParameterGroupName }}
  query_service_0:
    service_name: {{ services_query_service_0_service_name }}
    service_type: {{ services_query_service_0_service_type }}
    broker_name: {{ services_query_service_0_broker_name }}
    plan_name: {{ services_query_service_0_plan_name }}
    optional_params:
      DBName: {{ services_query_service_0_optional_params_DBName }}
      AllocatedStorage: {{ services_query_service_0_optional_params_AllocatedStorage }}
      DBParameterGroupName: {{ services_query_service_0_optional_params_DBParameterGroupName }}
  query_service_1:
    service_name: {{ services_query_service_1_service_name }}
    service_type: {{ services_query_service_1_service_type }}
    broker_name: {{ services_query_service_1_broker_name }}
    plan_name: {{ services_query_service_1_plan_name }}
    optional_params:
      DBName: {{ services_query_service_1_optional_params_DBName }}
      AllocatedStorage: {{ services_query_service_1_optional_params_AllocatedStorage }}
      DBParameterGroupName: {{ services_query_service_1_optional_params_DBParameterGroupName }}
  query_service_2:
    service_name: {{ services_query_service_2_service_name }}
    service_type: {{ services_query_service_2_service_type }}
    broker_name: {{ services_query_service_2_broker_name }}
    plan_name: {{ services_query_service_2_plan_name }}
    optional_params:
      DBName: {{ services_query_service_2_optional_params_DBName }}
      AllocatedStorage: {{ services_query_service_2_optional_params_AllocatedStorage }}
      DBParameterGroupName: {{ services_query_service_2_optional_params_DBParameterGroupName }}
  query_service_3:
    service_name: {{ services_query_service_3_service_name }}
    service_type: {{ services_query_service_3_service_type }}
    broker_name: {{ services_query_service_3_broker_name }}
    plan_name: {{ services_query_service_3_plan_name }}
    optional_params:
      DBName: {{ services_query_service_3_optional_params_DBName }}
      AllocatedStorage: {{ services_query_service_3_optional_params_AllocatedStorage }}
      DBParameterGroupName: {{ services_query_service_3_optional_params_DBParameterGroupName }}
  cs_redis1:
    service_name: {{ services_cs_redis1_service_name }}
    service_type: {{ services_cs_redis1_service_type }}
    broker_name: {{ services_cs_redis1_broker_name }}
    plan_name: {{ services_cs_redis1_plan_name }}
    optional_params: ~
  cs_redis2:
    service_name: {{ services_cs_redis2_service_name }}
    service_type: {{ services_cs_redis2_service_type }}
    broker_name: {{ services_cs_redis2_broker_name }}
    plan_name: {{ services_cs_redis2_plan_name }}
    optional_params: ~
  qsrmq:
    service_name: {{ services_rabbitmq_service_name }}
    service_type: {{ services_rabbitmq_service_type }}
    broker_name: {{ services_rabbitmq_broker_name }}
    plan_name: {{ services_rabbitmq_plan_name }}
    optional_params: ~
base:
  env:
    STATIC_CACHE: {{ STATIC_CACHE }}
    DYNAMIC_CACHE: {{ DYNAMIC_CACHE }}
    SPRING_PROFILES_ACTIVE: pcftest
    masterkeysuffix: aFNdxSl1

staticdatabaseservice:
  env:
    SPRING_PROFILES_ACTIVE: cloud
    action: upgrade
    source_rds_service: {{ services_static_db_service_name }}
    target_rds_service: {{ services_static_formigration_db_service_name }}
    source_rds_schema: {{ services_static_db_service_name }}
    target_rds_schema: {{ services_static_formigration_db_service_name }}
    source_version: '"1.8.0.1"'
    target_version: '"1.9.0.0"'

postdeployentservice:
  env:
    SPRING_PROFILES_ACTIVE: cloud
    action: postdeployment
    mysql_rds_service: {{ services_static_formigration_db_service_name }}
    postdeployment_rds_schema: {{ services_static_formigration_db_service_name }}
    postdeployment_version: ' {{ version }} '
    environment: {{ environment }}
    configuration_observationstorage_usersubscriptions_url: https://subscription-management-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/subscription/applications/{applicationName}/propositions/{propositionName}/feedVendors/{feedVendorName}/users/{userUUID}/standardObservations
    configuration_observationstorage_termsandconditions_url: https://subscription-management-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/subscription/applications/{applicationName}/users/{userUUID}/termsAndConditions
    configuration_hsdp_transactionservice_create_url: https://hsdp-transactiontracker-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/transaction
    configuration_hsdp_transactionservice_delete_url: https://hsdp-transactiontracker-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/transaction/{transactionUuid}
    configuration_hsdp_transactionservice_read_url: https://hsdp-transactiontracker-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/transaction/{transactionUuid}
    configuration_hsdp_transactionservice_update_url: https://hsdp-transactiontracker-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/transaction/{transactionUuid}
    configuration_observationstorage_normalization_url: https://dhp-datanormalization-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/NormalizationService/normalize?userUUID={userUUID}&applicationId={applicationId}&vendorId={vendorId}&propositionId={propositionId}&observationName={observationName}&responseId={responseId}&unitSystem={unitSystem}&relevanceEndDateTime={relevanceEndDateTime}&hsdpChannel={hsdpChannel}&hsdpObsId={hsdpObsId}&resourceId={resourceId}&action={action}&subjectUUID={subjectUUID}
    configuration_hsdp_usermanagement_read_url: https://subscription-management-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/subscription/applications/{applicationName}/users/{userUUID}/propositions
    configuration_irm_subjectvalidation_url: https://subject-management-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/personalhealth/subjectmanagement/subject/{subjectUUID}
    configuration_irm_uservalidation_url: https://subscription-management-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/subscription/applications/{applicationName}/users/{userUUID}/propositions
    configuration_irm_accesstoken_validate_url: https://user-registration-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/authentication/users
    configuration_hsdp_subjectmanagement_read_url: https://subject-management-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/personalhealth/subjectmanagement/subject/{subjectUuId}
    configuration_irm_relation_permission: https://irm-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/personalhealth/identity-relation/Relation/Permissions?trustorUUID={0}&trusteeUUID={1}
    configuration_subjectmanagement_accesstoken_validate_url: https://user-registration-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/authentication/users
    configuration_irm_subject_validation_url: https://subject-management-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/personalhealth/subjectmanagement/subject?subjectUUID={subjectUUID}
    configuration_hsdp_usermanagement_getuserstatus_url: https://user-registration-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/usermanagement/users/{userUUID}/userStatus
    configuration_subjectmanagement_validate_user_profile_url: https://user-registration-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/usermanagement/users/{userUUID}/profile?applicationName=
    configuration_irm_userprofile_validation_url: https://user-registration-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/usermanagement/users/{userUUID}/profile?applicationName=
    configuration_hsdp_usermanagement_subjectusermarketing_url: https://subject-management-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/personalhealth/subjectmanagement/usermarketing
    configuration_hsdp_mobile_sms_url: https://sms-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/smsService/sendSms
    configuration_SMSConfigurations: <?xml version="1.0" encoding="UTF-8"?><configuration><SMSURL>http://sh.ums86.com:8899/sms/Api/Send.do</SMSURL><ProxyHost></ProxyHost><ProxyPort></ProxyPort><ProxyUsername></ProxyUsername><ProxyPassword></ProxyPassword><ConnectionTimeout>10000</ConnectionTimeout></configuration>
    configuration_JanRain: <?xml version="1.0" encoding="UTF-8"?><configuration><MicrositeID>81422</MicrositeID><ClientID>LOVZ/QNvmntumf5lIqKH2iJTU6Kgt7WPGWot5RoH57LaLBg2Pdrt+aczY4LGuyqM</ClientID><ClientSecret>ZPb63XraEmpiIqVHdmrMi/4Hdro2uf+oE+oGhmAFqRfaLBg2Pdrt+aczY4LGuyqM</ClientSecret><CaptureUrl>https://philips.dev.janraincapture.com/</CaptureUrl><RedirectUrl>https://philips.dev.janraincapture.com/token</RedirectUrl><AccessTokenLifetime>100</AccessTokenLifetime><ProxyHost></ProxyHost><ProxyPort></ProxyPort><ProxyUsername></ProxyUsername><ProxyPassword></ProxyPassword><ConnectionTimeout>10000</ConnectionTimeout><EmailClientID>dV+xdC3zO3WxUkNVEMpDO4o6sHzXMPpQ2R1HVX59+JnaLBg2Pdrt+aczY4LGuyqM</EmailClientID><EmailResponseType>code</EmailResponseType><EmailRedirectUri>https://janrain-email-widget-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/verifyemail.htm</EmailRedirectUri><EmailForm>resendVerificationForm</EmailForm><EmailFlowname>signIn</EmailFlowname><EmailFlowVersion>0YcIiSTTC5HCryw498CAsV9MSdJOLP0trqkdC2NVmXbG6/nNuReoTJMHZqG28dCh</EmailFlowVersion><RecoveryClientID>dV+xdC3zO3WxUkNVEMpDO4o6sHzXMPpQ2R1HVX59+JnaLBg2Pdrt+aczY4LGuyqM</RecoveryClientID><RecoveryResponseType>code</RecoveryResponseType><RecoveryRedirectUri>https://janrain-email-widget-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/resetpassword.htm</RecoveryRedirectUri><RecoveryForm>forgotPasswordForm</RecoveryForm><RecoveryFlowName>signIn</RecoveryFlowName><RecoveryFlowVersion>0YcIiSTTC5HCryw498CAsV9MSdJOLP0trqkdC2NVmXbG6/nNuReoTJMHZqG28dCh</RecoveryFlowVersion><RecoverySecretID>diQq63jUyHF4khSqyVD2SCSbjZtzNWG7NRLHn19zPFTaLBg2Pdrt+aczY4LGuyqM</RecoverySecretID><RefreshSecretForm>userInformationForm</RefreshSecretForm><RefreshSecretClientId>dV+xdC3zO3WxUkNVEMpDO4o6sHzXMPpQ2R1HVX59+JnaLBg2Pdrt+aczY4LGuyqM</RefreshSecretClientId><RefreshSecretFlowVersion>e94IL4WRf8D/Q3wpKe3V7LBjM5SUdIN/S5dWcYfWnjOBD4CX5ZjSRfmJNppoefJf</RefreshSecretFlowVersion><RefreshSecretRedirectUri>https://philips.dev.janraincapture.com/</RefreshSecretRedirectUri><RefreshSecretAccessTokenExpiry>3600</RefreshSecretAccessTokenExpiry><AuthNativeTraditionalLoginFieldName>traditionalSignIn_emailAddress</AuthNativeTraditionalLoginFieldName><AuthNativeTraditionalFlowName>standard</AuthNativeTraditionalFlowName><UpdatePasswordForm>newPasswordForm</UpdatePasswordForm><UpdatePasswordFlowValue>signIn</UpdatePasswordFlowValue><UpdatePasswordClientId>dV+xdC3zO3WxUkNVEMpDO4o6sHzXMPpQ2R1HVX59+JnaLBg2Pdrt+aczY4LGuyqM</UpdatePasswordClientId><UpdatePasswordFlowVersion>0YcIiSTTC5HCryw498CAsV9MSdJOLP0trqkdC2NVmXbG6/nNuReoTJMHZqG28dCh</UpdatePasswordFlowVersion><DefaultRedirectURI>https://philips.dev.janraincapture.com/</DefaultRedirectURI><VerificationCodeLength>7</VerificationCodeLength><VerificationCodeLifeTime>600</VerificationCodeLifeTime><AuthorizationCodeLifeTime>900</AuthorizationCodeLifeTime></configuration>
    configuration_observationstorage_usersubscriptions_url: https://subscription-management-assembly-{{ appspacestring }}-{{ appversionstring }}.{{ domain }}/subscription/applications/{applicationName}/propositions/{propositionName}/feedVendors/{feedVendorName}/users/{userUUID}/standardObservations

userdatabaseservice:
  env:
    SPRING_PROFILES_ACTIVE: cloud
    action: upgrade
    rds_service: {{ services_usermanagement_db_service_name }}
    rds_schema: {{ services_usermanagement_db_service_name }}
    source_version: '"1.8.0.1"'
    target_version: '"1.9.0.0"'

cachingservice:
  env:
    RESTRICTEDKEY_IRM: {{ env_caching_RESTRICTEDKEY_IRM }}
    RESTRICTEDKEY_NORMALIZATION: {{ env_caching_RESTRICTEDKEY_NORMALIZATION }}
    RESTRICTEDKEY_OBSERVATIONSTORAGE: {{ env_caching_RESTRICTEDKEY_OBSERVATIONSTORAGE }}
    RESTRICTEDKEY_QUERYSERVICE: {{ env_caching_RESTRICTEDKEY_QUERYSERVICE }}
    RESTRICTEDKEY_SUBJECTMANAGEMENT: {{ env_caching_RESTRICTEDKEY_SUBJECTMANAGEMENT }}
    RESTRICTEDKEY_TRANSACTIONSERVICE: {{ env_caching_RESTRICTEDKEY_TRANSACTIONSERVICE }}
    RESTRICTEDKEY_SUBSCRIPTIONSERVICE: {{ env_caching_RESTRICTEDKEY_SUBSCRIPTIONSERVICE }}
    RESTRICTEDKEY_CUSTOMERCARESERVICE: {{ env_caching_RESTRICTEDKEY_CUSTOMERCARESERVICE }}
    RESTRICTEDKEY_UMADMINSERVICES: {{ env_caching_RESTRICTEDKEY_UMADMINSERVICES }}   
    

userregistrationassembly:
  env:
    hashkeysuffix: qhKeeoy3bg==

dhpdatanormalization:
  env:
    SPRING_PROFILES_ACTIVE: sharding_pcftest
    
    
queryservicejobagent:
  env:
    SPRING_PROFILES_ACTIVE: sharding_pcftest

subjectdataextractor:
  env:
      SPRING_PROFILES_ACTIVE: pcftest
      SUBJECT_BATCH_RUN_AT_INSTANT: true
      SUBJECT_ELOQUA_EXTRACT_JOB_CRON: 0 0 * * * ?

umadminservicesassembly:
  env:
      applicationname: {{ env_umadminservicesassembly_applicationname }}
      hashkeysuffix: qhKeeoy3bg==
      myPhilipsHash: tzNnFQ1t76v46YiVvUOVopmqjY
      subjectMarketingUrl: {{ env_umadminservicesassembly_subjectMarketingUrl }}    