{% if cachingservice is not defined -%}
{% set cachingservice = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
  - name: caching-service-{{ version }}-{{ blue_green }}
    memory: 1G
    host: caching-service-{{ version|replace('.','') }}-{{ blue_green }}
    path: ../../binary/cachingservice/caching-service-{{ version }}-PH.war
    buildpack: {{ cachingservice.buildpack|default(default_buildpack) }}
    services:
      - {{ services.static_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}    
      - {{ services.cs_redis2.service_name }}   
    {% if 'env' in cachingservice -%}
    {{ 'env:' }}
    {% for k, v in cachingservice.env.iteritems() -%}
      {{ k|indent(2, true) }}: {{ v }}
    {% endfor %}
    {% endif %}
