{% if dhpdatanormalization is not defined -%}
{% set dhpdatanormalization = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
  - name: dhp-datanormalization-{{ version }}-{{ blue_green }}
    memory: 1G
    host: dhp-datanormalization-{{ version|replace('.','') }}-{{ blue_green }}
    path: ../../binary/dhpdatanormalization/dhp-datanormalization-{{ version }}-PH.war
    buildpack: {{ dhpdatanormalization.buildpack|default(default_buildpack) }}
    services:
      - {{ services.query_service_0.service_name }}
      - {{ services.query_service_1.service_name }}
      - {{ services.query_service_2.service_name }}
      - {{ services.query_service_3.service_name }}
      - {{ services.qsrmq.service_name }}  
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
    {% if 'env' in dhpdatanormalization -%}
    {{ 'env:' }}
    {% for k, v in dhpdatanormalization.env.iteritems() -%}
      {{ k|indent(2, true) }}: {{ v }}
    {% endfor %}
    {% endif %}
