{% if dhppropositionDeactivator is not defined -%}
{% set dhppropositionDeactivator = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
  - name: dhp-propositionDeactivator-{{ version }}-{{ blue_green }}
    memory: 1G
    host: dhp-propositionDeactivator-{{ version|replace('.','') }}-{{ blue_green }}
    path: ../../binary/dhppropositionDeactivator/dhp-propositionDeactivator-{{ version }}-PH.war
    buildpack: {{ dhppropositionDeactivator.buildpack|default(default_buildpack) }}
    services:
      - {{ services.static_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
    {% if 'env' in dhppropositionDeactivator -%}
    {{ 'env:' }}
    {% for k, v in dhppropositionDeactivator.env.iteritems() -%}
      {{ k|indent(2, true) }}: {{ v }}
    {% endfor %}
    {% endif %}
