{% if dmlqueryservice is not defined -%}
{% set dmlqueryservice = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
  - name: dml-queryservice-assembly-{{ version }}-{{ blue_green }}
    memory: 3G
    host: dml-queryservice-assembly-{{ version|replace('.','') }}-{{ blue_green }}
    path: ../../binary/dmlqueryservice/dml-queryservice-assembly-{{ version }}-PH.war
    buildpack: {{ dmlqueryservice.buildpack|default(default_buildpack) }}
    services:
      - {{ services.query_service_0.service_name }}
      - {{ services.query_service_1.service_name }}
      - {{ services.query_service_2.service_name }}
      - {{ services.query_service_3.service_name }}
      - {{ services.qsrmq.service_name }}  
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
    {% if 'env' in dmlqueryservice -%}
    {{ 'env:' }}
    {% for k, v in dmlqueryservice.env.iteritems() -%}
      {{ k|indent(2, true) }}: {{ v }}
    {% endfor %}
    {% endif %}
