{% if hsdptransactiontracker is not defined -%}
{% set hsdptransactiontracker = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
  - name: hsdp-transactiontracker-assembly-{{ version }}-{{ blue_green }}
    memory: 1G
    host: hsdp-transactiontracker-assembly-{{ version|replace('.','') }}-{{ blue_green }}
    path: ../../binary/hsdptransactiontracker/hsdp-transactiontracker-assembly-{{ version }}-PH.war
    buildpack: {{ hsdptransactiontracker.buildpack|default(default_buildpack) }}
    services:
      - {{ services.datatracker_db.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
    {% if 'env' in hsdptransactiontracker -%}
    {{ 'env:' }}
    {% for k, v in hsdptransactiontracker.env.iteritems() -%}
      {{ k|indent(2, true) }}: {{ v }}
    {% endfor %}
    {% endif %}
