{% if IRMassembly is not defined -%}
{% set IRMassembly = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
  - name: IRM-assembly-{{ version }}-{{ blue_green }}
    memory: 1G
    host: IRM-assembly-{{ version|replace('.','') }}-{{ blue_green }}
    path: ../../binary/IRMassembly/IRM-assembly-{{ version }}-PH.war
    buildpack: {{ IRMassembly.buildpack|default(default_buildpack) }}
    services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
    {% if 'env' in IRMassembly -%}
    {{ 'env:' }}
    {% for k, v in IRMassembly.env.iteritems() -%}
      {{ k|indent(2, true) }}: {{ v }}
    {% endfor %}
    {% endif %}
