{% if janrainwidget is not defined -%}
{% set janrainwidget = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: janrain-email-widget-{{ version }}-{{ blue_green }}
   memory: 1G
   host: janrain-email-widget-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/janrainwidget/janrain-email-widget-{{ version }}-PH.war
   buildpack: {{ janrainwidget.buildpack|default(default_buildpack) }}
   {% if 'env' in janrainwidget -%}
   {{ 'env:' }}
   {% for k, v in janrainwidget.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
