{% if ObservationStorageassembly is not defined -%}
{% set ObservationStorageassembly = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
  - name: ObservationStorage-assembly-{{ version }}-{{ blue_green }}
    memory: 1G
    host: ObservationStorage-assembly-{{ version|replace('.','') }}-{{ blue_green }}
    path: ../../binary/ObservationStorageassembly/ObservationStorage-assembly-{{ version }}-PH.war
    buildpack: {{ ObservationStorageassembly.buildpack|default(default_buildpack) }}
    services:
      - {{ services.raw_response_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
    {% if 'env' in ObservationStorageassembly -%}
    {{ 'env:' }}
    {% for k, v in ObservationStorageassembly.env.iteritems() -%}
      {{ k|indent(2, true) }}: {{ v }}
    {% endfor %}
    {% endif %}
