{% if queryservicejobagent is not defined -%}
{% set queryservicejobagent = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
  - name: queryservice-jobagent-{{ version }}-{{ blue_green }}
    memory: 1G
    host: queryservice-jobagent-{{ version|replace('.','') }}-{{ blue_green }}
    path: ../../binary/queryservicejobagent/queryservice-jobagent-{{ version }}-PH.war
    buildpack: {{ queryservicejobagent.buildpack|default(default_buildpack) }}
    services:
      - {{ services.query_service_0.service_name }}
      - {{ services.query_service_1.service_name }}
      - {{ services.query_service_2.service_name }}
      - {{ services.query_service_3.service_name }}
      - {{ services.qsrmq.service_name }}  
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
    {% if 'env' in queryservicejobagent -%}
    {{ 'env:' }}
    {% for k, v in queryservicejobagent.env.iteritems() -%}
      {{ k|indent(2, true) }}: {{ v }}
    {% endfor %}
    {% endif %}
