{% if rawresponsejobagent is not defined -%}
{% set rawresponsejobagent = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: rawresponse-jobagent-{{ version }}-{{ blue_green }}
   memory: 1G
   host: rawresponse-jobagent-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/rawresponsejobagent/rawresponse-jobagent-{{ version }}-PH.war
   buildpack: {{ rawresponsejobagent.buildpack|default(default_buildpack) }}
   services:
      - {{ services.raw_response_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in rawresponsejobagent -%}
   {{ 'env:' }}
   {% for k, v in rawresponsejobagent.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
