{% if schedulerservice is not defined -%}
{% set schedulerservice = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: scheduler-service-{{ version }}-{{ blue_green }}
   memory: 1G
   host: scheduler-service-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/schedulerservice/scheduler-service-{{ version }}-PH.war
   buildpack: {{ schedulerservice.buildpack|default(default_buildpack) }}
   services:
      - {{ services.static_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in schedulerservice -%}
   {{ 'env:' }}
   {% for k, v in schedulerservice.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
