{% if smsassembly is not defined -%}
{% set smsassembly = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: sms-assembly-{{ version }}-{{ blue_green }}
   memory: 1G
   host: sms-assembly-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/smsassembly/sms-assembly-{{ version }}-PH.war
   buildpack: {{ smsassembly.buildpack|default(default_buildpack) }}
   services:
      - {{ services.static_db.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in smsassembly -%}
   {{ 'env:' }}
   {% for k, v in smsassembly.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
