{% if subjectdataextractor is not defined -%}
{% set subjectdataextractor = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: subject-data-extractor-{{ version }}-{{ blue_green }}
   memory: 1G
   host: subject-data-extractor-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/subjectdataextractor/subject-data-extractor-{{ version }}-PH.jar
   buildpack: {{ subjectdataextractor.buildpack|default(default_buildpack) }}
   no-route: true
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in subjectdataextractor -%}
   {{ 'env:' }}
   {% for k, v in subjectdataextractor.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
