{% if subjectinvitationjobagent is not defined -%}
{% set subjectinvitationjobagent = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: subject-invitation-{{ version }}-{{ blue_green }}
   memory: 1G
   host: subject-invitation-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/subjectinvitationjobagent/subject-invitation-jobagent-{{ version }}-PH.war
   buildpack: {{ subjectinvitationjobagent.buildpack|default(default_buildpack) }}
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in subjectinvitationjobagent -%}
   {{ 'env:' }}
   {% for k, v in subjectinvitationjobagent.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
