{% if subjectmanagement is not defined -%}
{% set subjectmanagement = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: subject-management-{{ version }}-{{ blue_green }}
   memory: 1G
   host: subject-management-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/subjectmanagement/subject-management-{{ version }}-PH.war
   buildpack: {{ subjectmanagement.buildpack|default(default_buildpack) }}
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in subjectmanagement -%}
   {{ 'env:' }}
   {% for k, v in subjectmanagement.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
