{% if subjectmediapurgejobagent is not defined -%}
{% set subjectmediapurgejobagent = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: subject-media-{{ version }}-{{ blue_green }}
   memory: 1G
   host: subject-media-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/subjectmediapurgejobagent/subject-media-purge-jobagent-{{ version }}-PH.war
   buildpack: {{ subjectmediapurgejobagent.buildpack|default(default_buildpack) }}
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in subjectmediapurgejobagent -%}
   {{ 'env:' }}
   {% for k, v in subjectmediapurgejobagent.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
