{% if subjectprofilepurgejobagent is not defined -%}
{% set subjectprofilepurgejobagent = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: subject-profile-{{ version }}-{{ blue_green }}
   memory: 1G
   host: subject-profile-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/subjectprofilepurgejobagent/subject-profile-purge-jobagent-{{ version }}-PH.war
   buildpack: {{ subjectprofilepurgejobagent.buildpack|default(default_buildpack) }}
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in subjectprofilepurgejobagent -%}
   {{ 'env:' }}
   {% for k, v in subjectprofilepurgejobagent.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
