{% if subjectpurgepolicyservice is not defined -%}
{% set subjectpurgepolicyservice = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: subject-purge-{{ version }}-{{ blue_green }}
   memory: 1G
   host: subject-purge-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/subjectpurgepolicyservice/subject-purge-policy-service-{{ version }}-PH.war
   buildpack: {{ subjectpurgepolicyservice.buildpack|default(default_buildpack) }}
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in subjectpurgepolicyservice -%}
   {{ 'env:' }}
   {% for k, v in subjectpurgepolicyservice.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
