{% if subjectrelationpurgejobagent is not defined -%}
{% set subjectrelationpurgejobagent = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: subject-relation-{{ version }}-{{ blue_green }}
   memory: 1G
   host: subject-relation-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/subjectrelationpurgejobagent/subject-relation-purge-jobagent-{{ version }}-PH.war
   buildpack: {{ subjectrelationpurgejobagent.buildpack|default(default_buildpack) }}
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in subjectrelationpurgejobagent -%}
   {{ 'env:' }}
   {% for k, v in subjectrelationpurgejobagent.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
