{% if subscriptionmanagementassembly is not defined -%}
{% set subscriptionmanagementassembly = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: subscription-management-assembly-{{ version }}-{{ blue_green }}
   memory: 1G
   host: subscription-management-assembly-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/subscriptionmanagementassembly/subscription-management-assembly-{{ version }}-PH.war
   buildpack: {{ subscriptionmanagementassembly.buildpack|default(default_buildpack) }}
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in subscriptionmanagementassembly -%}
   {{ 'env:' }}
   {% for k, v in subscriptionmanagementassembly.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
