{% if usermanagementjobagent is not defined -%}
{% set usermanagementjobagent = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: usermanagement-jobagent-{{ version }}-{{ blue_green }}
   memory: 1G
   host: usermanagement-jobagent-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/usermanagementjobagent/usermanagement-jobagent-{{ version }}-PH.war
   buildpack: {{ usermanagementjobagent.buildpack|default(default_buildpack) }}
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in usermanagementjobagent -%}
   {{ 'env:' }}
   {% for k, v in usermanagementjobagent.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
