{% if usermanagementserviceassemblyutil is not defined -%}
{% set usermanagementserviceassemblyutil = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: usermanagement-service-assembly-util-{{ version }}-{{ blue_green }}
   memory: 1G
   host: usermanagement-service-assembly-util-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/usermanagementserviceassemblyutil/usermanagement-service-assembly-util-{{ version }}-PH.war
   buildpack: {{ usermanagementserviceassemblyutil.buildpack|default(default_buildpack) }}
   services:
      - {{ services.static_db.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in usermanagementserviceassemblyutil -%}
   {{ 'env:' }}
   {% for k, v in usermanagementserviceassemblyutil.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
