{% if userregistrationassembly is not defined -%}
{% set userregistrationassembly = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: user-registration-assembly-{{ version }}-{{ blue_green }}
   memory: 1G
   host: user-registration-assembly-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/userregistrationassembly/user-registration-assembly-{{ version }}-PH.war
   buildpack: {{ userregistrationassembly.buildpack|default(default_buildpack) }}
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in userregistrationassembly -%}
   {{ 'env:' }}
   {% for k, v in userregistrationassembly.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
