{% if umadminservicesassembly is not defined -%}
{% set umadminservicesassembly = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: um-admin-services-assembly-{{ version }}-{{ blue_green }}
   memory: 1G
   host: um-admin-services-assembly-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/umadminservicesassembly/um-admin-services-assembly-{{ version }}-PH.war
   buildpack: {{ umadminservicesassembly.buildpack|default(default_buildpack) }}
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.qsrmq.service_name }} 
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in umadminservicesassembly -%}
   {{ 'env:' }}
   {% for k, v in umadminservicesassembly.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
