{% if deleteuserservice is not defined -%}
{% set deleteuserservice = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: delete-user-service-{{ version }}-{{ blue_green }}
   memory: 1G
   host: delete-user-service-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/deleteuserservice/delete-user-service-{{ version }}-PH.war
   buildpack: {{ deleteuserservice.buildpack|default(default_buildpack) }}
   no-route: true
   services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.qsrmq.service_name }} 
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in deleteuserservice -%}
   {{ 'env:' }}
   {% for k, v in deleteuserservice.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
