{% if datatrackerjobagent is not defined -%}
{% set datatrackerjobagent = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
 - name: datatracker-jobagent-{{ version }}-{{ blue_green }}
   memory: 1G
   host: datatracker-jobagent-{{ version|replace('.','') }}-{{ blue_green }}
   path: ../../binary/datatrackerjobagent/datatracker-jobagent-{{ version }}-PH.war
   buildpack: {{ datatrackerjobagent.buildpack|default(default_buildpack) }}
   services:
      - {{ services.datatracker_db.service_name }}
      - {{ services.qsrmq.service_name }} 
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
   {% if 'env' in datatrackerjobagent -%}
   {{ 'env:' }}
   {% for k, v in datatrackerjobagent.env.iteritems() -%}
     {{ k|indent(2, true) }}: {{ v }}
   {% endfor %}
   {% endif %}
