{% if closeaccountpolicyservice is not defined -%}
{% set closeaccountpolicyservice = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
  - name: closeaccount-policyservice-{{ version }}-{{ blue_green }}
    memory: 1G
    host: closeaccount-policyservice-{{ version|replace('.','') }}-{{ blue_green }}
    path: ../../binary/closeaccountpolicyservice/close-account-policy-service-{{ version }}-PH.war
    buildpack: {{ closeaccountpolicyservice.buildpack|default(default_buildpack) }}
    services:
      - {{ services.usermanagement_db.service_name }}
      - {{ services.qsrmq.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
    {% if 'env' in closeaccountpolicyservice -%}
    {{ 'env:' }}
    {% for k, v in closeaccountpolicyservice.env.iteritems() -%}
      {{ k|indent(2, true) }}: {{ v }}
    {% endfor %}
    {% endif %}
