{% if ddfcxmlImportService is not defined -%}
{% set ddfcxmlImportService = {} -%}
{% endif -%}
---
inherit: base_manifest.yml
applications:
  - name: ddfc-xmlImportService-{{ version }}-{{ blue_green }}
    memory: 1G
    host: ddfc-xmlImportService-{{ version|replace('.','') }}-{{ blue_green }}
    path: ../../binary/ddfcxmlImportService/ddfc-xmlImportService-{{ version }}-PH.war
    buildpack: {{ ddfcxmlImportService.buildpack|default(default_buildpack) }}
    services:
      - {{ services.static_db.service_name }}
      - {{ services.cs_redis1.service_name }}
      - {{ services.cs_redis2.service_name }}
    {% if 'env' in ddfcxmlImportService -%}
    {{ 'env:' }}
    {% for k, v in ddfcxmlImportService.env.iteritems() -%}
      {{ k|indent(2, true) }}: {{ v }}
    {% endfor %}
    {% endif %}