{% if postdeployentservice is not defined -%}
{% set postdeployentservice = {} -%}
{% endif -%}
---
applications:
  - name: postdeploymentservice-{{ version }}-{{ blue_green }}
    memory: 1G
    host: postdeploymentservice-{{ version|replace('.','') }}-{{ blue_green }}
    path: ../../binary/postdeployentservice/staticdatabaseservice-{{ version }}-PH.war
    buildpack: {{ postdeployentservice.buildpack|default(default_buildpack) }}
    services:
      - {{ services.static_formigration_db.service_name }}
    {% if 'env' in postdeployentservice -%}
    {{ 'env:' }}
    {% for k, v in postdeployentservice.env.iteritems() -%}
      {{ k|indent(2, true) }}: {{ v }}
    {% endfor %}
    {% endif %}